<ng-container *ngxSubscribe="globalStats as global">
  <ng-container *ngxSubscribe="userStats as user">
    <div class="mx-auto w-50 w-sm-25">
      <div class="d-flex justify-content-around mb-3">
        <fa-icon [icon]="['fas', 'globe-americas']" size="6x"></fa-icon>
        <fa-icon [icon]="['fas', 'user']" size="6x"></fa-icon>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.totalCount }}</div>
        <h5>Total</h5>
        <div>{{ user.totalCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.completedCount }}</div>
        <h5>Completed</h5>
        <div>{{ user.completedCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.notCompletedCount }}</div>
        <h5>Not Completed</h5>
        <div>{{ user.notCompletedCount }}</div>
      </div>

      <div class="d-flex justify-content-between mb-4">
        <div>{{ global.inProgressCount }}</div>
        <h5>In Progress</h5>
        <div>{{ user.inProgressCount }}</div>
      </div>

      <div class="d-flex justify-content-center mb-2">
        <fa-icon [icon]="['fas', 'music']" size="4x"></fa-icon>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.albumStats.albumCount }}</div>
        <h5>Album Count</h5>
        <div>{{ user.albumStats.albumCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.albumStats.completedAlbums }}</div>
        <h5>Completed</h5>
        <div>{{ user.albumStats.completedAlbums }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.albumStats.notCompletedAlbums }}</div>
        <h5>Not Completed</h5>
        <div>{{ user.albumStats.notCompletedAlbums }}</div>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <div>{{ global.albumStats.inProgressAlbums }}</div>
        <h5>In Progress</h5>
        <div>{{ user.albumStats.inProgressAlbums }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.albumStats.vinylCount }}</div>
        <h5>Vinyl Count</h5>
        <div>{{ user.albumStats.vinylCount }}</div>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <div>{{ global.albumStats.cdCount }}</div>
        <h5>CD Count</h5>
        <div>{{ user.albumStats.cdCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.albumStats.rpm33RecordCount }}</div>
        <h5>33 RPM Records</h5>
        <div>{{ user.albumStats.rpm33RecordCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.albumStats.rpm45RecordCount }}</div>
        <h5>45 RPM Records</h5>
        <div>{{ user.albumStats.rpm45RecordCount }}</div>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <div>{{ global.albumStats.rpm78RecordCount }}</div>
        <h5>78 RPM records</h5>
        <div>{{ user.albumStats.rpm78RecordCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.albumStats.twelveInchRecordCount }}</div>
        <h5>12" Records</h5>
        <div>{{ user.albumStats.twelveInchRecordCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.albumStats.sevenInchRecordCount }}</div>
        <h5>7" Records</h5>
        <div>{{ user.albumStats.sevenInchRecordCount }}</div>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <div>{{ global.albumStats.tenInchRecordCount }}</div>
        <h5>10" Records</h5>
        <div>{{ user.albumStats.tenInchRecordCount }}</div>
      </div>

      <div class="d-flex justify-content-center mb-2">
        <fa-icon [icon]="['fas', 'book-open']" size="4x"></fa-icon>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.bookStats.bookCount }}</div>
        <h5>Book Count</h5>
        <div>{{ user.bookStats.bookCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.bookStats.completedBookCount }}</div>
        <h5>Completed</h5>
        <div>{{ user.bookStats.completedBookCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.bookStats.notStartedBookCount }}</div>
        <h5>Not Started</h5>
        <div>{{ user.bookStats.notStartedBookCount }}</div>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <div>{{ global.bookStats.inProgressBookCount }}</div>
        <h5>In Progress</h5>
        <div>{{ user.bookStats.inProgressBookCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.bookStats.novelCount }}</div>
        <h5>Novels</h5>
        <div>{{ user.bookStats.novelCount }}</div>
      </div>

      <div class="d-flex justify-content-between">
        <div>{{ global.bookStats.comicCount }}</div>
        <h5>Comics</h5>
        <div>{{ user.bookStats.comicCount }}</div>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <div>{{ global.bookStats.mangaCount }}</div>
        <h5>Manga</h5>
        <div>{{ user.bookStats.mangaCount }}</div>
      </div>
    </div>
  </ng-container>
</ng-container>
