<div *ngxSubscribe="albums as albumList">
  <div class="d-flex justify-content-between">
    <form
      [formGroup]="searchForm"
      class="justify-content-start ml-4 mb-2"
      (ngSubmit)="onSearch(searchForm.value)"
    >
      <div class="row">
        <div class="input-group">
          <div class="input-group-prepend">
            <fa-icon
              [icon]="['fas', 'search']"
              class="input-group-text"
            ></fa-icon>
          </div>
          <input
            class="form-control"
            type="text"
            formControlName="searchQuery"
            placeholder="Search"
          />
        </div>
      </div>
    </form>

    <div
      *authenticated
      class="btn btn-primary btn-lg fa-2x"
      routerLink="create"
    >
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </div>
  </div>

  <div
    class="d-flex flex-row flex-wrap align-items-center justify-content-start"
  >
    <app-album
      *ngFor="
        let album of albumList
          | paginate
            : {
                itemsPerPage: albumCount,
                currentPage: page,
                totalItems: totalAlbums
              }
      "
      [album]="album"
      [routerLink]="['/album', album.id]"
    ></app-album>
  </div>
  <pagination-controls
    class="d-flex justify-content-center"
    (pageChange)="page = $event; getNextPage($event)"
    autoHide="true"
  ></pagination-controls>
</div>
