<h2>Wish List</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Owned</th>
      <th>Date Added</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wish of wishList | async; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        {{ wish.title }}
      </td>

      <td>
        <app-wish-owned
          [isOwned]="wish.owned"
          [wishId]="wish.id"
        ></app-wish-owned>
      </td>
      <td>{{ wish.dateAdded }}</td>
      <td>{{ wish.notes }}</td>
    </tr>
  </tbody>
</table>
