<div *ngxSubscribe="books as bookList">
  <form
    [formGroup]="searchForm"
    class="d-flex justify-content-start ml-4 mb-2"
    (ngSubmit)="onSearch(searchForm.value)"
  >
    <div class="row">
      <div class="input-group">
        <div class="input-group-prepend">
          <fa-icon
            [icon]="['fas', 'search']"
            class="input-group-text"
          ></fa-icon>
        </div>
        <input
          class="form-control"
          type="text"
          formControlName="searchQuery"
          placeholder="Search"
        />
      </div>
    </div>
  </form>

  <div
    class="d-flex flex-row flex-wrap align-items-center justify-content-start"
  >
    <app-book
      *ngFor="
        let book of bookList
          | paginate
            : {
                itemsPerPage: bookCount,
                currentPage: page,
                totalItems: totalBooks
              }
      "
      [book]="book"
      [routerLink]="['/book', book.id]"
    ></app-book>
  </div>
  <pagination-controls
    class="d-flex justify-content-center"
    (pageChange)="page = $event; getNextPage($event)"
    autoHide="true"
  ></pagination-controls>
</div>
