<div *ngxSubscribe="books as bookList">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column flex-sm-row">
      <form
        [formGroup]="searchForm"
        class="d-flex justify-content-start ml-4 mb-2 mr-4"
        (ngSubmit)="onSearch(searchForm.value)"
      >
        <div class="row">
          <div class="input-group">
            <div class="input-group-prepend">
              <fa-icon
                [icon]="['fas', 'search']"
                class="input-group-text"
              ></fa-icon>
            </div>
            <input
              class="form-control"
              type="text"
              formControlName="searchQuery"
              placeholder="Search"
            />
          </div>
        </div>
      </form>

      <button
        *authenticated
        class="btn btn-outline-primary"
        routerLink="/book/search"
      >
        Search Google Books<fa-icon
          [icon]="['fas', 'search']"
          class="ml-2"
        ></fa-icon>
      </button>
    </div>

    <div
      *authenticated
      class="btn btn-primary btn-lg fa-2x"
      routerLink="create"
    >
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </div>
  </div>

  <div
    class="d-flex flex-row flex-wrap align-items-center justify-content-start"
  >
    <app-book
      *ngFor="
        let book of bookList
          | paginate
            : {
                itemsPerPage: bookCount,
                currentPage: page,
                totalItems: totalBooks
              }
      "
      [book]="book"
      [routerLink]="['/book', book.id]"
    ></app-book>
  </div>
  <pagination-controls
    class="d-flex justify-content-center"
    (pageChange)="page = $event; getNextPage($event)"
    autoHide="true"
  ></pagination-controls>
</div>
