<div *ngxSubscribe="book as b">
  <div class="d-flex justify-content-center mb-4">
    <img [src]="b.imageUrl" class="img-fluid album-img" />
  </div>
  <form
    [formGroup]="bookUpdateForm"
    (ngSubmit)="onSubmit(bookUpdateForm.value)"
  >
    <app-book-form #bookForm [releaseYear]="b.yearReleased"></app-book-form>

    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Update Book</button>
        </div>
      </div>
    </div>
  </form>
</div>
