<div *ngxSubscribe="game as g">
    <div class="d-flex justify-content-center mb-4">
      <img [src]="g.imageUrl" class="img-fluid game-img" />
    </div>
    <form
      [formGroup]="gameUpdateForm"
      (ngSubmit)="onSubmit(gameUpdateForm.value)"
    >
      <app-game-form #gameForm [releaseYear]="g.yearReleased"></app-game-form>

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Update game</button>
          </div>
        </div>
      </div>
    </form>
  </div>
