$project-diana-blue: #add8e6;
$project-diana-light-blue: #bbeafa;

$success: limegreen;

$vars: (
  display-name-color: white,
  footer-color: $project-diana-light-blue,
  main-body-color: $project-diana-blue,
  showcase-item-description-background-color: rgba(0, 0, 0, 0.7),
  showcase-item-text-color: white,
  wish-owned-icon-color: $success,
);
