/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "src/app/shared/styles/_variables.scss";

body {
  background-color: $project-diana-blue;
}

.main-body {
  margin-top: 2rem;
  min-height: calc(100vh - 1rem);
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 80vw;
  }
}
