/* You can add global styles to this file, and also import other style files */
@import "mixins";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  @include var(background-color, main-body-color);
}

.main-body {
  margin-top: 2rem;
  min-height: calc(100vh - 1rem);
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 80vw;
  }
}
