<div class="d-flex justify-content-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <p>Enter login information</p>

    <div class="row mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <fa-icon
            [icon]="['fas', 'envelope']"
            class="input-group-text"
          ></fa-icon>
        </div>
        <input
          class="form-control"
          type="username"
          id="username"
          formControlName="username"
          placeholder="Email Address"
        />
      </div>
    </div>

    <div class="row mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <fa-icon [icon]="['fas', 'key']" class="input-group-text"></fa-icon>
        </div>
        <input
          class="form-control"
          type="password"
          id="password"
          formControlName="password"
          placeholder="Pasword"
        />
      </div>
    </div>

    <div class="row">
      <button
        class="btn btn-primary btn-block"
        type="submit"
        [disabled]="
          isLoggingIn ||
          !loginForm.get('username').value ||
          !loginForm.get('password').value
        "
      >
        <app-loading-indicator-small
          [isLoading]="isLoggingIn"
        ></app-loading-indicator-small>
        Login
      </button>
    </div>
  </form>
</div>
