<div class="d-flex justify-content-center mb-4">
  <img [src]="searchedAlbum.cover_image" class="img-fluid album-img" />
</div>
<form
  [formGroup]="albumSubmissionForm"
  (ngSubmit)="onSubmit(albumSubmissionForm.value)"
>
  <app-album-form
    #albumForm
    [releaseYear]="searchedAlbum.year"
  ></app-album-form>

  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </div>
  </div>
</form>
