<ng-container *ngIf="(showcase | async).showcasedAlbums.length; else noalbums">
  <div *canEdit="(showcase | async)?.showcasedAlbums[0]?.userId">
    <div class="btn btn-outline-danger mb-3" (click)="clearAlbumShowcase()">
      <fa-icon [icon]="['fas', 'redo-alt']"></fa-icon>
    </div>
  </div>

  <div
    id="albumShowcase"
    class="carousel slide mb-4"
    data-ride="carousel"
    *ngxSubscribe="showcase as showcase"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item carousel-background"
        [ngClass]="{ active: i === 0 }"
        [ngStyle]="{ background: getImage(album) }"
        *ngFor="let album of showcase.showcasedAlbums; index as i"
      >
        <div class="showcase-item-background">
          <img
            class="d-block img-fluid text-center showcase-image"
            [src]="album.imageUrl"
            [alt]="album.title"
            [routerLink]="['/album', album.id]"
          />
          <div class="text-center showcase-item-description">
            {{ album.artist }} - {{ album.title }} ({{ album.yearReleasedOn }})
          </div>
        </div>
      </div>

      <a
        *ngIf="showcase.showcasedAlbums.length > 1"
        class="carousel-control-prev"
        href="#albumShowcase"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        *ngIf="showcase.showcasedAlbums.length > 1"
        class="carousel-control-next"
        href="#albumShowcase"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</ng-container>

<ng-template #noalbums
  >It's lonely in here. Try adding some albums to the showcase.</ng-template
>

<ng-container *ngIf="(showcase | async).showcasedBooks.length; else nobooks">
  <div
    id="bookShowcase"
    class="carousel slide"
    data-ride="carousel"
    *ngxSubscribe="showcase as showcase"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item carousel-background"
        [ngClass]="{ active: i === 0 }"
        [ngStyle]="{ background: getImage(book) }"
        *ngFor="let book of showcase.showcasedBooks; index as i"
      >
        <div class="showcase-item-background">
          <img
            class="d-block img-fluid text-center showcase-image"
            [src]="book.imageUrl"
            [alt]="book.title"
            [routerLink]="['/book', book.id]"
          />
          <div class="text-center showcase-item-description">
            {{ book.author }} - {{ book.title }} ({{ book.yearReleasedOn }})
          </div>
        </div>
      </div>

      <a
        *ngIf="showcase.showcasedBooks.length > 1"
        class="carousel-control-prev"
        href="#bookShowcase"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        *ngIf="showcase.showcasedBooks.length > 1"
        class="carousel-control-next"
        href="#bookShowcase"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</ng-container>

<ng-template #nobooks
  >It's lonely in here. Try adding some books to the showcase.</ng-template
>
