<div class="mb-2">Date Added: {{ wish.dateAdded | date: "long" }}</div>
<div class="mb-2">Last Updated: {{ wish.dateModified | date: "long" }}</div>

<form [formGroup]="wishUpdateForm" (ngSubmit)="onSubmit(wishUpdateForm.value)">
  <app-wish-form #wishForm [wishItemType]="wish.itemType"></app-wish-form>

  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update Wish</button>
      </div>
    </div>
  </div>
</form>
