<ng-container>
  <div [formGroup]="albumForm">
    <div class="card mb-4">
      <h3 class="card-header">Album</h3>
      <div class="card-body">
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            formControlName="artist"
            placeholder="Artist"
          />

          <input
            type="text"
            class="form-control mb-2"
            formControlName="title"
            placeholder="Title"
          />
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <select
            formControlName="yearReleased"
            id="yearReleased"
            class="form-control mr-2"
            required
          >
            <option disabled>Select Release Year</option>
            <option
              *ngFor="let year of releaseYears"
              [ngValue]="year.value"
              [selected]="year.selected"
            >
              {{ year.value }}
            </option>
          </select>

          <input
            type="text"
            class="form-control mb-2"
            formControlName="genre"
            placeholder="Genre"
          />
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            formControlName="style"
            placeholder="Style"
          />

          <input
            type="text"
            class="form-control mb-2"
            formControlName="recordLabel"
            placeholder="Record Label"
          />
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="imageUrl"
          placeholder="Image Url"
        />
      </div>
    </div>

    <div class="card mb-4">
      <h3 class="card-header">Media Information</h3>
      <div class="card-body">
        <div class="form-check mb-2">
          <input
            type="checkbox"
            class="form-check-input mb-2"
            id="isPhysical"
            formControlName="isPhysical"
            placeholder="Physical"
          />
          <label for="isPhysical" class="form-check-label">Physical</label>
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <select
            formControlName="mediaType"
            id="mediaType"
            class="form-control mb-2 mr-2"
            required
          >
            <option disabled>Select Media Type</option>
            <option
              *ngFor="let mediaType of mediaTypes"
              [ngValue]="mediaType.value"
              [selected]="media === mediaType.value"
            >
              {{ mediaType.name }}
            </option>
          </select>
          <select
            formControlName="speed"
            id="speed"
            class="form-control mb-2"
            required
          >
            <option disabled>Select Vinyl Speed</option>
            <option
              *ngFor="let speed of vinylSpeeds"
              [ngValue]="speed.value"
              [selected]="vinylSpeed === speed.value"
            >
              {{ speed.name }}
            </option>
          </select>
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <select
            formControlName="size"
            id="size"
            class="form-control mb-2 mr-2"
            required
          >
            <option disabled>Select Vinyl Size</option>
            <option
              *ngFor="let size of vinylSizes"
              [ngValue]="size.value"
              [selected]="vinylSize === size.value"
            >
              {{ size.name }}
            </option>
          </select>
          <input
            type="text"
            class="form-control mb-2"
            formControlName="countryOfOrigin"
            placeholder="Country of Origin"
          />
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <h3 class="card-header">Miscellaneous</h3>
      <div class="card-body">
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2"
            formControlName="category"
            placeholder="Category"
          />
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <label for="playCount" class="mr-2">Play Count</label>
          <input
            type="number"
            class="form-control mb-2 mr-2"
            formControlName="playCount"
            placeholder="Play Count"
          />
          <select
            formControlName="completionStatus"
            id="completionStatus"
            class="form-control mb-2"
            required
          >
            <option disabled>Select Completion Status</option>
            <option
              *ngFor="let status of completionStatuses"
              [ngValue]="status.value"
              [selected]="completionStatus === status.value"
            >
              {{ status.name }}
            </option>
          </select>
        </div>
        <textarea
          type="text"
          class="form-control mb-2"
          formControlName="notes"
          placeholder="Notes"
        ></textarea>
      </div>
    </div>
    <div class="card mb-4">
      <h3 class="card-header">Purchase</h3>
      <div class="card-body">
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="date"
            class="form-control mb-2 mr-2"
            formControlName="datePurchased"
            placeholder="Date Purchased"
            [ngModel]="currentDate | date: 'yyyy-MM-dd'"
          />
          <input
            type="text"
            class="form-control mb-2"
            formControlName="locationPurchased"
            placeholder="Location Purchased"
          />
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-0 mr-sm-2 w-50"
            formControlName="countryPurchased"
            placeholder="Country Purchased"
          />
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input mb-2"
              id="isNewPurchase"
              formControlName="isNewPurchase"
              placeholder="New Purchase"
            />
            <label for="isNewPurchase" class="form-check-label"
              >New Purchase</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
