<ng-container>
  <div [formGroup]="albumForm">
    <div class="card mb-4">
      <h3 class="card-header">Album</h3>
      <div class="card-body">
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            formControlName="artist"
            placeholder="Artist"
          />

          <input
            type="text"
            class="form-control mb-2"
            formControlName="title"
            placeholder="Title"
          />
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            formControlName="yearReleased"
            placeholder="Year Released"
          />

          <input
            type="text"
            class="form-control mb-2"
            formControlName="genre"
            placeholder="Genre"
          />
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            formControlName="style"
            placeholder="Style"
          />

          <input
            type="text"
            class="form-control mb-2"
            formControlName="recordLabel"
            placeholder="Record Label"
          />
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="imageUrl"
          placeholder="Image Url"
        />
      </div>
    </div>

    <div class="card mb-4">
      <h3 class="card-header">Media Information</h3>
      <div class="card-body">
        <div class="form-check mb-2">
          <input
            type="checkbox"
            class="form-check-input mb-2"
            id="isPhysical"
            formControlName="isPhysical"
            placeholder="Physical"
          />
          <label for="isPhysical" class="form-check-label">Physical</label>
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            formControlName="mediaType"
            placeholder="Media Type"
          />
          <input
            type="text"
            class="form-control mb-2"
            formControlName="speed"
            placeholder="Speed"
          />
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            formControlName="size"
            placeholder="Size"
          />
          <input
            type="text"
            class="form-control mb-2"
            formControlName="countryOfOrigin"
            placeholder="Country of Origin"
          />
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <h3 class="card-header">Miscellaneous</h3>
      <div class="card-body">
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            formControlName="category"
            placeholder="Category"
          />
          <input
            type="number"
            class="form-control mb-2 w-50"
            formControlName="playCount"
            placeholder="Play Count"
          />
          <input
            type="text"
            class="form-control"
            formControlName="completionStatus"
            placeholder="Completion Status"
          />
        </div>
        <textarea
          type="text"
          class="form-control mb-2"
          formControlName="notes"
          placeholder="Notes"
        ></textarea>
      </div>
    </div>
    <div class="card mb-4">
      <h3 class="card-header">Purchase</h3>
      <div class="card-body">
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="date"
            class="form-control mb-2 mr-2"
            formControlName="datePurchased"
            placeholder="Date Purchased"
          />
          <input
            type="text"
            class="form-control mb-2"
            formControlName="locationPurchased"
            placeholder="Location Purchased"
          />
        </div>
        <div class="d-flex flex-column flex-sm-row">
          <input
            type="text"
            class="form-control mb-2 mr-0 mr-sm-2 w-50"
            formControlName="countryPurchased"
            placeholder="Country Purchased"
          />
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input mb-2"
              id="isNewPurchase"
              formControlName="isNewPurchase"
              placeholder="New Purchase"
            />
            <label for="isNewPurchase" class="form-check-label"
              >New Purchase</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
