<ng-container>
  <div [formGroup]="albumForm">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="artist"
        placeholder="Artist"
      />

      <input
        type="text"
        class="form-control"
        formControlName="title"
        placeholder="Title"
      />

      <input
        type="text"
        class="form-control"
        formControlName="yearReleased"
        placeholder="Year Released"
      />

      <input
        type="text"
        class="form-control"
        formControlName="genre"
        placeholder="Genre"
      />

      <input
        type="text"
        class="form-control"
        formControlName="style"
        placeholder="Style"
      />

      <input
        type="text"
        class="form-control"
        formControlName="recordLabel"
        placeholder="Record Label"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="mediaType"
        placeholder="Media Type"
      />
      <input
        type="checkbox"
        class="form-control"
        formControlName="isPhysical"
        placeholder="Physical"
      />
      <input
        type="text"
        class="form-control"
        formControlName="speed"
        placeholder="Speed"
      />
      <input
        type="text"
        class="form-control"
        formControlName="size"
        placeholder="Size"
      />
      <input
        type="text"
        class="form-control"
        formControlName="countryOfOrigin"
        placeholder="Country of Origin"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="category"
        placeholder="Category"
      />
      <input
        type="text"
        class="form-control"
        formControlName="notes"
        placeholder="Notes"
      />
      <input
        type="number"
        class="form-control"
        formControlName="playCount"
        placeholder="PlayCount"
      />
    </div>
    <div class="form-group">
      <input
        type="date"
        class="form-control"
        formControlName="datePurchased"
        placeholder="Date Purchased"
      />
      <input
        type="text"
        class="form-control"
        formControlName="locationPurchased"
        placeholder="Location Purchased"
      />
      <input
        type="text"
        class="form-control"
        formControlName="countryPurchased"
        placeholder="Country Purchased"
      />
      <input
        type="checkbox"
        class="form-control"
        formControlName="isNewPurchase"
        placeholder="New Purchase"
      />
    </div>
  </div>
</ng-container>
