<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <p>Enter login information</p>

  <div class="row">
    <mat-form-field>
      <label for="username">Username:</label>
      <input
        matInput
        type="username"
        id="username"
        formControlName="username"
      />
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field>
      <label for="password">Password:</label>
      <input
        matInput
        type="password"
        id="password"
        formControlName="password"
      />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
