<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <p>Enter login information</p>

  <div class="row">
    <div>
      <label for="username">Username:</label>
      <input
        class="form-control"
        type="username"
        id="username"
        formControlName="username"
      />
    </div>
  </div>

  <div class="row">
    <div>
      <label for="password">Password:</label>
      <input
        class="form-control"
        type="password"
        id="password"
        formControlName="password"
      />
    </div>
  </div>

  <div class="row my-2">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
