<div>
  <h2>{{ album.title }} By {{ album.artist }} ({{ album.yearReleased }})</h2>

  <div class="row">
    <div class="col-sm-6">
      <div>
        <img [src]="album.imageUrl" class="album-img" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="d-flex justify-content-end mb-4">
        <ng-container *canEdit="album.userID">
          <div *ngIf="!album.isShowcased">
            <button (click)="addToShowcase()" class="btn btn-outline-primary">
              <fa-icon [icon]="['fas', 'star']"></fa-icon>
            </button>
          </div>
        </ng-container>

        <ng-container *canEdit="album.userID">
          <div *ngIf="album.isShowcased">
            <button
              (click)="removeFromShowcase()"
              class="btn btn-outline-danger"
            >
              <fa-icon [icon]="['fas', 'star']"></fa-icon>
            </button>
          </div>
        </ng-container>

        <ng-container *canEdit="album.userID">
          <div class="ml-2">
            <button
              (click)="incrementPlayCount()"
              class="btn btn-outline-primary"
            >
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </div>
        </ng-container>
      </div>
      <div class="card">
        <h3 class="card-header">Album Details</h3>
        <div class="card-body">
          <div>Genre: {{ album.genre || "N/A" }}</div>
          <div>Style: {{ album.style || "N/A" }}</div>
          <div>Record Label: {{ album.recordLabel || "N/A" }}</div>
        </div>
      </div>

      <div class="card my-4">
        <h3 class="card-header">Media Information</h3>
        <div class="card-body">
          <div>Media Type: {{ album.mediaType }}</div>
          <div>Physical: {{ album.isPhysical | yesNo }}</div>
          <div>Speed: {{ album.speed }}</div>
          <div>Size: {{ album.size }}</div>
          <div>Country of Origin: {{ album.countryOfOrigin || "N/A" }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-4">
    <h3 class="card-header">Miscellaneous Information</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div>Category: {{ album.category || "N/A" }}</div>
          <div>Notes: {{ album.notes || "N/A" }}</div>
        </div>
        <div class="col-sm-6">
          <div>Date Added: {{ album.dateAdded | date }}</div>
          <div>Last Played: {{ album.lastCompleted | date }}</div>
          <div>Last Updated: {{ album.dateUpdated | date }}</div>
          <div>Play Count: {{ album.timesCompleted }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-4">
    <h3 class="card-header">Purchase Information</h3>
    <div class="card-body">
      <div>Date Purchased: {{ album.datePurchased | date }}</div>
      <div>Location Purchased: {{ album.locationPurchased || "N/A" }}</div>
      <div>Country Purchaed: {{ album.countryPurchased || "N/A" }}</div>
      <div>New Purchase: {{ album.isNew | yesNo }}</div>
    </div>
  </div>
</div>
