<div>
  <div
    class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between"
  >
    <h2 class="text-center text-md-left">
      {{ album.title }} By {{ album.artist }} ({{ album.yearReleased }})
    </h2>

    <div class="d-flex justify-content-center justify-content-sm-end mb-4">
      <ng-container *canEdit="album.userID">
        <div class="mr-2">
          <div
            class="btn btn-outline-primary"
            [routerLink]="['/album/update', album.id]"
          >
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </div>
        </div>
      </ng-container>

      <ng-container *canEdit="album.userID">
        <div *ngIf="!album.isShowcased" class="mr-2">
          <button (click)="addToShowcase()" class="btn btn-outline-primary">
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
          </button>
        </div>
      </ng-container>

      <ng-container *canEdit="album.userID">
        <div *ngIf="album.isShowcased" class="mr-2">
          <button (click)="removeFromShowcase()" class="btn btn-outline-danger">
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
          </button>
        </div>
      </ng-container>

      <ng-container *canEdit="album.userID">
        <div class="">
          <button
            (click)="incrementPlayCount()"
            class="btn btn-outline-primary"
          >
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="d-flex flex-column flex-sm-row">
    <div class="mr-4">
      <img [src]="album.imageUrl" class="img-fluid album-img" />
    </div>
    <div class="d-flex flex-column flex-grow-1 mt-4 mt-sm-0">
      <div class="card">
        <h3 class="card-header">Album Details</h3>
        <div class="card-body">
          <div>Genre: {{ album.genre || "N/A" }}</div>
          <div>Style: {{ album.style || "N/A" }}</div>
          <div>Record Label: {{ album.recordLabel || "N/A" }}</div>
          <div>Discogs Id: {{ album.discogsID }}</div>
        </div>
      </div>

      <div class="card mt-4">
        <h3 class="card-header">Media Information</h3>
        <div class="card-body">
          <div>Media Type: {{ getMediaTypeDisplayName(album.mediaType) }}</div>
          <div>Physical: {{ album.isPhysical | yesNo }}</div>
          <div>Speed: {{ getSpeedDisplayName(album.speed) }}</div>
          <div>Size: {{ getSizeDisplayName(album.size) }}</div>
          <div>Country of Origin: {{ album.countryOfOrigin || "N/A" }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <h3 class="card-header">Miscellaneous Information</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div>Category: {{ album.category || "N/A" }}</div>
          <div>Notes: {{ album.notes || "N/A" }}</div>
        </div>
        <div class="col-sm-4">
          <div>
            Completion Status:
            {{ getCompletionStatusDisplayName(album.completionStatus) }}
          </div>
          <div>Play Count: {{ album.timesCompleted }}</div>
        </div>
        <div class="col-sm-4">
          <div>Date Added: {{ album.dateAdded | date | noDate }}</div>
          <div>Last Played: {{ album.lastCompleted | date | noDate }}</div>
          <div>Last Updated: {{ album.dateUpdated | date | noDate }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <h3 class="card-header">Purchase Information</h3>
    <div class="card-body">
      <div>Date Purchased: {{ album.datePurchased | date | noDate }}</div>
      <div>Location Purchased: {{ album.locationPurchased || "N/A" }}</div>
      <div>Country Purchaed: {{ album.countryPurchased || "N/A" }}</div>
      <div>New Purchase: {{ album.isNew | yesNo }}</div>
    </div>
  </div>
</div>
